.item-border {
  border-style: solid;
  border-width: thick;
  border-color: yellow;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px 5px;
  grid-template-columns: 16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%;
}

.grid-item {
  display: none;
}
.grid-item-sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: maroon;
}
.grid-item-top {
  grid-column-start: 2;
  grid-column-end: 6;
}
.grid-item-yonko-left {
  background-color: pink;
}
.grid-item-yonko-right {
  background-color: pink;
}

.grid-item-yonko-big-left {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: brown;
}
.grid-item-yonko-big-right {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 3;
  background-color: brown;
}

.grid-item-center {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  background: blue;
}
.grid-item-tr {
  background-color: aquamarine;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid-item-br {
  background-color: orange;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 3;
}
.grid-item-bottom {
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: gold;
}
.img-prop,
.item-prop {
  width: 100%;
  height: 100%;
}

.bottom_right {
  clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 22%);
}

.top-right {
  clip-path: polygon(0 0, 0 82%, 100% 100%, 100% 0);
}

@media only screen and (min-width: 768px) {
}
